body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #333; /* Cor do texto principal */
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 600px; /* Tamanho máximo da largura da tela */
    margin: 50px auto;
    padding: 20px; /* Reduzir o espaço interno */
    background-color: #fff; /* Fundo branco */
    border: 2px solid #004400; /* Borda verde escuro */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 68, 0, 0.2); /* Sombra suave */
}

h1 {
    margin-bottom: 20px; /* Reduzir o espaço entre o título e o formulário */
    font-size: 2em; /* Tamanho do título um pouco menor */
    color: #004400; /* Cor do título */
}

/* Estilo para o logotipo */
#logo {
    max-width: 100px; /* Defina o tamanho máximo da imagem */
    vertical-align: middle; /* Alinhe verticalmente com o texto */
    margin-right: 10px; /* Adicione um espaço à direita do logotipo */
    float: left; /* Alinhe o logotipo à esquerda */
}

/* Campos do formulário */
input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px; /* Reduzir o espaçamento interno */
    margin: 8px 0;
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px;
    background-color: #f9f9f9; /* Fundo cinza claro */
    font-size: 1em;
    outline: none;
}

/* Botão de reserva */
.round-button {
    cursor: pointer;
    width: 50px; /* Tamanho do botão */
    height: 50px; /* Tamanho do botão */
    border-radius: 50%; /* Tornar o botão redondo */
    background-color: #004400; /* Verde escuro */
    color: #fff; /* Texto branco */
    border: none;
    font-size: 1em;
    outline: none;
    transition: background-color 0.3s, transform 0.3s;
}

.round-button:hover {
    background-color: #002b00; /* Verde escuro mais escuro ao passar o mouse */
    transform: scale(1.03); /* Efeito de escala suave no hover */
}

.round-button:active {
    transform: scale(0.97); /* Efeito de escala suave no clique */
}

/* Estilo para as opções (por exemplo, ventilador, ar-condicionado) */
.checkbox-label {
    display: block; /* Coloca cada opção em uma nova linha */
    margin-bottom: 5px; /* Espaçamento inferior entre as opções */
}

/* Estilo para o cabeçalho das opções */
.option-header {
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    color: #004400; /* Cor do texto verde escuro */
}

/* Estilo para o rodapé */
.footer {
    text-align: left;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666; /* Cor do texto cinza */
}

/* Estilo para as mensagens de erro */
.error-message {
    color: red;
    font-size: 0.9em;
}

/* Estilo unificado para placeholders */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
    color: #777; /* Cinza claro */
}
